---
permalink: /articles
title: fbac.dev
layout: default.liquid
data:
  route: articles
---
<h1>/home/fbac/articles</h1>
<h4>Wow! Much emptyness!</h4>
<p>In this section I'll be uploading articles I publish here and there.</p>
<p>For now it remains as work in progress. :)</p>
