---
title: fbac.dev
layout: default.liquid
data:
  route: docs
---

<h4>Welcome to fbac.dev!</h4>

<p>This site has been created as a fun learning project.</p>

<p>Here, you'll find some info <a href="/about">about me</a>, and also some <a href="/docs">documentation</a> I compile for myself to have it handy.</p>

</p>Mostly, this will act as a repository and interesting links aggregator, and, probably, in the future will contain also talks and articles I've done through my career.</p>

<p>Hope you enjoy and find something useful!</p>
