#wrap {
    float: left;
    position: relative;
    left: 50%;
}

#header {
    float: center;
    position: relative;
}

#content {
    float: left;
    position: relative;
    left: -50%;
}

#bash {
    font: 15px Arial, sans-serif;
}