<nav class="menu">
  <a class="menu-item {% if page.data.route == "about"%}current{%endif%}" href="/about">fbac</a>
  <a class="menu-item {% if page.data.route == "docs"%}current{%endif%}" href="/docs">docs</a>
  <a class="menu-item" href=https://blog.fbac.dev></a>
  <a class="menu-item icon" href="https://github.com/fbac"><i class="fa fa-github-square"></i></a>
  <a class="menu-item icon" href="https://github.com/fbac"><i class="fa fa-github-square"></i></a>
  <a class="menu-item icon" href="https://twitter.com/0xfbac"><i class="fa fa-twitter-square"></i></a>
  <a class="menu-item icon" href="https://www.linkedin.com/in/fbac/"><i class="fa fa-linkedin-square"></i></a>
  <a class="menu-item icon" href="mailto:me@fbac.dev"><i class="fa fa-envelope-square"></i></a>
  <hr>
</nav>
